body {
  font-family: 'PT Sans', 'Arial', sans-serif;

  background-image: url(../img/dc-online-media-mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;

  width: 700px;
  margin: 0 auto;
}

h1 {letter-spacing: .45px
}

h1 + p {color: grey;
    font-family: "PT Sans",sans-serif;
    font-size: 25px;
    line-height: 32px;
    margin-top: 5px;
  }

h2 + p {
  margin-top: 10px;
}

h3 + p {
  margin-top: 10px;
  }

h1 {
  font-family: "PT Sans",sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-top: 65px;
  }

h2 {
  font-family: "PT Sans",sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

h3 {
  font-family: "PT Sans",sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}

a {color:black;}

p  {
  font-family: "PT Sans",sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin-top: 30px;
}

ul {
  font-family: "PT Sans",sans-serif;
  font-size: 20px;
  line-height: 25px;
  margin-top: 30px;
  list-style-type: disc;
}

li {margin: 20px;
}

}
